{% extends 'base.html' %}

{% block content %}

<h2 id="pageheading"> Welcome back {{ customuser.username }}! </h2>

<p>Your details:</p>

<p>Your username: {{ customuser.username }}</p>
<p>Your email: {{ customuser.email}}</p>
<p>Number of stories published: {{ customuser.newsstory_set.count }}</p>
<p> Date joined: {{ customuser.date_joined}} </p>


<div id="buttondiv">
    

<form  action="{% url 'news:newStory' %}">
    <input id="buttons" type="submit" value="Write New Story" />
</form>

<form action="{% url 'users:profile' customuser.id %}">
    <input id="buttons" type="submit" value="View your stories" />
</form>

</div>
   
{% endblock content %}