{% load static %}

<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>The Daily Hoop</title>
        <link rel="icon" type="image/x-icon" href=" {% static 'news/images/favicon.ico' %}">
        <meta name="description" content="">
        <meta name="author" content="Kate Kirwin">
        <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
        {% block stylesheets %} {% endblock %}
    </head>

    <body>
        <header>
            <img id="logo" src="{% static 'news/images/pngegg.png'%}" alt="hoop logo">
            <div id="header-text">
                <a id="header-link" href="{% url 'news:index' %}">
                    <h1>The Daily Hoop</h1>
                </a>
            </div>
            <!-- include nav here -->
            {% include './nav.html' %}
        </header>

        <!-- content blocks here -->
        {% block content %}{% endblock %}
    </body>

    <footer> Copyright Kate Kirwin 2022 </footer>
</html>
